@namespace Blazor.DaisyUI

<div class="collapse-title text-xl font-medium">
    @Header
</div>
<div class="collapse-content">
    @Content
</div>

@code
{
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }
}