@using DaisyUI.Enums
@page "/button"

<PageTitle>Buttons</PageTitle>

<div class="p-6 space-y-4">
    <h1 class="text-4xl font-bold tracking-wider">Button</h1>

    <div class="h-full flex flex-col justify-center gap-6">

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Basic</h1>
            <Button>Click Me</Button>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Variants</h1>
            <div class="inline-flex items-center gap-2">
                @foreach (var variant in Enum.GetValues<Variant>())
                {
                    @if (variant is Variant.None) continue;

                    <Button @key="variant" Variant="@variant">@variant.ToString()</Button>
                }
            </div>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Outline</h1>
            <div class="inline-flex items-center gap-2">
                @foreach (var variant in Enum.GetValues<Variant>())
                {
                    @if (variant is Variant.None) continue;

                    <Button @key="variant" Variant="@variant" Outline>@variant.ToString()</Button>
                }
            </div>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Sizes</h1>
            <div class="inline-flex items-center gap-2">
                <Button Size="Size.Lg">Large</Button>
                <Button>Normal</Button>
                <Button Size="Size.Sm">Small</Button>
                <Button Size="Size.Xs">Tiny</Button>
            </div>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Tags</h1>
            <div class="inline-flex items-center gap-2">
                <Button As="button">Button</Button>
                <Button As="a">Link</Button>
                <Button As="label">Label</Button>
                <Button As="input" type="button" value="Input" />
                <Button As="input" type="submit" value="Submit" />
                <Button As="input" type="reset" value="Reset" />
                <Button As="input" type="radio" aria-label="Radio" />
                <Button As="input" type="checkbox" aria-label="Checkbox" />
            </div>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Disabled</h1>
            <div class="inline-flex items-center gap-2">
                <Button As="button" disabled>Button</Button>
                <Button As="button" class="btn-disabled">Button</Button>
            </div>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Shapes</h1>
            <div class="inline-flex items-center gap-2">
                <Button Shape="Shape.Circle">
                    <i class="fa fa-times" />
                </Button>
                <Button Shape="Shape.Square">
                    <i class="fa fa-times" />
                </Button>
            </div>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Wide</h1>
            <Button Wide>Wide</Button>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Glass</h1>

            <div class="relative h-32 w-full max-w-2xl rounded-box overflow-hidden">
                <img class="w-full object-cover" src="https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
                <Button class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" Glass>Glass</Button>
            </div>
        </div>
    </div>
</div>