@using DaisyUI.Enums
@page "/button"

<PageTitle>Buttons</PageTitle>

<div class="p-6 space-y-4">
    <h1 class="text-4xl font-bold tracking-wider">Button</h1>

    <div class="h-full flex flex-col justify-center gap-6">

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Basic</h1>
            <Button>Click Me</Button>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Variants</h1>
            <div class="inline-flex items-center gap-2">
                @foreach (var variant in Enum.GetValues<Variant>())
                {
                    @if (variant is Variant.None) continue;

                    <Button @key="variant" Variant="@variant">@variant.ToString()</Button>
                }
            </div>
        </div>
        
        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Outline</h1>
            <div class="inline-flex items-center gap-2">
                @foreach (var variant in Enum.GetValues<Variant>())
                {
                    @if (variant is Variant.None) continue;

                    <Button @key="variant" Variant="@variant" Outline>@variant.ToString()</Button>
                }
            </div>
        </div>

        <div class="space-y-2">
            <h1 class="text-xl font-bold tracking-wider">Sizes</h1>
            <div class="inline-flex items-center gap-2">
                <Button Size="Size.Lg">Large</Button>
                <Button>Normal</Button>
                <Button Size="Size.Sm">Small</Button>
                <Button Size="Size.Xs">Tiny</Button>
            </div>
        </div>
    </div>
</div>